/* landingPage.css */

@media (min-width: 1400px) {
    .container-fluid {
        max-width: 1320px;
        margin: auto;
    }
}

.row {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.col-sm-12 {
    padding: 10px;
    border: solid 4px whitesmoke;
    transition: transform 0.1s ease, box-shadow 0.1s ease; 
}

.col-sm-12:hover {
    transform: scale(1.00); 
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); 
}

.imageContainer {
    border-radius: 3px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dataImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    padding: 10px;
    text-align: center;
    font-family: auto;
}

h4 {
    text-align: center;
}


a {
    text-decoration: none;
    color: inherit;
    display: block;
}

a:hover {
    text-decoration: none;
}

h6{
    text-align: center;
}

span{
    font-size: 21px;
     color: #555;
     padding: 5px;
 }